DOMAINNAME='brewtools.dev'

CONFIGDIR='./config'
LOGSDIR='./logs'
TZ='America/Los_Angeles'

## ExpressVPN
EXPRESSVPN_ACTIVATION_CODE='CHANGEME'

## Cloudflare
CF_API_EMAIL='example@gmail.com'
CF_API_KEY='example'
CF_CERTS_DIR='./cloudflare_certs'

# # VaultWarden prefix
VW_PREFIX="vaultwarden" # Domain Prefix eg vaultwarden.example.com
# DISABLE THIS AFTER ADMIN SETUP
VW_SIGNUPS_ALLOWED="true" # disable this after creating an admin account
VW_WEBSOCKET_ENABLED="true"
VW_ADMIN_TOKEN="CHANGEME" # randomly generated string of characters, for example running openssl rand -base64 48

## Authelia
# Randomize these
AUTHELIA_PREFIX='authelia'
AUTHELIA_SESSION_SECRET='CHANGEME' # randomly generated 30 letters and numbers
AUTHELIA_JWT_SECRET='CHANGE' # Randomly generated 30 letters and numbers
AUTHELIA_STORAGE_ENCRYPTION_KEY='CHANGEME' # Database password
# Applied if {CONFIGDIR}/authelia/users_database.yml doesn't already exist
# If it doesn't exists it will be created next time apply_config.py is run.
# If it already exists, configure new users etc in ${CONFIGDIR}/authelia/users_database.yml
# Generate Password: docker run -it authelia/authelia:latest authelia crypto hash generate argon2
# Default password = password
# Replace $ with $$ in password string to escape templating
AUTHELIA_ADMIN_USERNAME='admin'
AUTHELIA_ADMIN_PASSWORD_HASH="$$argon2id$$v=19$$m=65536,t=3,p=4$$yYOzwllWI02cfqC8aBRBAw$$iHaohl0ZsVTFKmphFnJiNY6759PZl/2c/zHjtzQ50Es"
AUTHELIA_ADMIN_EMAIL='example@gmail.com'
AUTHELIA_USER_USERNAME="standard_user"
AUTHELIA_USER_PASSWORD_HASH="$$argon2id$$v=19$$m=65536,t=3,p=4$$yYOzwllWI02cfqC8aBRBAw$$iHaohl0ZsVTFKmphFnJiNY6759PZl/2c/zHjtzQ50Es"
AUTHELIA_USER_EMAIL='example@gmail.com'

## Guacamole Config
# First Time Login
# Username: guacadmin
# Password: guacadmin
GUACAMOLE_POSTGRESS_PASSWORD = "guac12345678guac"
GUACAMOLE_POSTGRESS_USER = "guacamole_user"

## Media Library Folders
AUDIOBOOKSDIR='/mnt/BIGNAS/Audiobooks'
BOOKSDIR='/mnt/BIGNAS/Books'
DOCUMENTSDIR='/mnt/BIGNAS/Documents'
MOVIESDIR='/mnt/BIGNAS/Movies'
MUSICDIR='/mnt/BIGNAS/Music'
PHOTOSDIR='/mnt/BIGNAS/Photos'
PODCASTSDIR='/mnt/BIGNAS/Podcasts'
SHOWSDIR='/mnt/BIGNAS/TV Shows'


# Downloads Folders
DOWNLOADSDIR='/qbit/seeding'
MOVIESDOWNLOADSDIR='/qbit/moviedownloads'
TVDOWNLOADSDIR='/qbit/tvdownloads'
MUSICDOWNLOADSDIR='/qbit/musicdownloads'
AUDIOBOOKDOWNLOADSDIR='/qbit/audiobookdownloads'
BOOKDOWNLOADSDIR='/qbit/bookdownloads'

# Uncomment port 53 in "ports" section of
# docker-compose-network.yml to enable
# ADGUARD_DNS_PORT='53' 
ADGUARD_PORT='3000'
TRAEFIK_PORT_HTTP='80'
TRAEFIK_PORT_HTTPS='443'
AUTHELIA_PORT='9091'

HOMEASSISTANT_PORT='8123'
HOMEPAGE_PORT='3002'
WUD_PORT='3003'
GUACAMOLE_PORT='3004'
QBT_PORT='3005'
ITTOOLS_PORT='3006'
# EXCALIDRAW_PORT="3007" # Enable Excalidraw in docker-compose-services.yml
# EXCALIDRAW_STORAGE_PORT="3008"
# EXCALIDRAW_ROOM_PORT="3009"
# EXCALIDRAW_REDIS_PORT="6379"
AUDIOBOOKSHELF_PORT="3011"
YOUTUBEDL_PORT="3012"
FILEBROWSER_PORT="3013"
PICARD_PORT="3014"

JELLYFIN_PORT='8096'
JELLYFIN_PORT_2='8920'
KAVITA_PORT='5000'
NAVIDROME_PORT='4533'
BITTORRENT_PORT='6881'
PORTAINER_PORT='9000'
FILEBOT_PORT="5800"
JELLYSEER_PORT='5055'
UNPACKERR_PORT='5656'
NZBHYDRA_PORT='5076'
BAZARR_PORT='6767'
RADARR_PORT='7878'
LIDARR_PORT='8686'
READARR_PORT='8787'
SONARR_PORT='8989'
JACKETT_PORT='9117'
# DANGEROUS!
# TRAEFIK HANDLES PROXYING SECURELY WITHOUT THIS
# ENABLING THIS ALLOWS LOCAL NETWORK ACCESS
# ENABLE PORT :80 IN docker-compose-services.yml
# VAULTWARDEN_PORT='9445'
VAULTWARDEN_SMTP_PORT="587"


HOMEPAGE_PREFIX="homepage"
HOMEPAGE_RULE="Host(`${DOMAINNAME}`) || Host(`${HOMEPAGE_PREFIX}.${DOMAINNAME}`)"
# # ENABLE IN docker-compose-services.yml
# ORGANIZR_PORT='3006'
# REIVERR_PORT='9494'


