*.pyc
/.env
/.env_backup
/.secrets
/cloudflare_certs/*.crt
/cloudflare_certs/*.key
/cloudflare_certs/*.pem
/compose-down.sh
/compose-up.sh
/config.json
/config/adguardhome
/config/audiobookshelf
/config/authelia/authelia.log
/config/authelia/authelia.log
/config/authelia/configuration.yml
/config/authelia/configuration.yml
/config/authelia/db.sqlite3
/config/authelia/db.sqlite3
/config/authelia/keys
/config/authelia/mongodb
/config/authelia/notification.txt
/config/authelia/notification.txt
/config/authelia/users_database.yml
/config/bazarr
/config/clouadarr-config.yml
/config/db
/config/filebot
/config/fdmmonster
/config/filebrowser/db
/config/filebrowser/filebrowser.db
/config/grafana/db
/config/gitea/db
/config/redlib
/config/miniflux
/config/jupyter
/config/grafana/plugins
/config/grafana/provisioning
/config/guacamole/guacd
/config/guacamole/postgres
/config/homeassistant
/config/homepage/logs
/config/homepage/services.yaml
/config/homepage/settings.yaml
/config/code-server
/config/jackett
/config/jellyfin
/config/jellyfin/
/config/jellyseerr
/config/kavita
/config/lidarr
/config/navidrome
/config/manyfold
/config/nzbhydra
/config/openldap
/config/organizr
/config/picard
/config/portainer
/config/prusa
/config/prusaslicer
/config/qbit
/config/radarr
/config/rdesktop
/config/readarr
/config/reiverr
/config/sonarr
/config/traefik/dynamic-config.yml
/config/traefik/traefik.yml
/config/unpackerr
/config/uptime-kuma
/config/vaultwarden
/config/vscodium
/config/wud
/config/youtubedl
/create_env_editor_page.py
/down-guac.sh
/down-net.sh
/logs
/up-guac.sh
/up-net.sh
/WIP/*
config/fdm-monster/