/config/adguardhome
/config/audiobookshelf
/config/bazarr
/config/filebot
/config/filebrowser
/config/homeassistant
/config/jackett
/config/jellyfin/
/config/jellyfin
/config/jellyseerr
/config/kavita
/config/lidarr
/config/navidrome
/config/nzbhydra
/config/picard
/config/portainer
/config/qbit
/config/radarr
/config/readarr
/config/sonarr
/config/unpackerr
/config/youtubedl
/config/organizr
/config/guacamole
/config/reiverr
/config/traefik/dynamic-config.yml
/cloudflare_certs/*.key
/cloudflare_certs/*.crt
/cloudflare_certs/*.pem
/config/authelia/mongodb
/config/authelia/db.sqlite3
/config/authelia/notification.txt
/config/authelia/authelia.log
/config/authelia/configuration.yml
/config/authelia/users_database.yml
/config/traefik/traefik.yml
/config/homepage/services.yaml
/config/wud
/logs
/config.json
/.env
*.pyc