/config/adguardhome
/config/audiobookshelf
/config/bazarr
/config/filebot
/config/filebrowser/filebrowser.db
/config/homeassistant
/config/jackett
/config/jellyfin/
/config/jellyfin
/config/jellyseerr
/config/kavita
/config/lidarr
/config/navidrome
/config/nzbhydra
/config/picard
/config/portainer
/config/qbit
/config/radarr
/config/readarr
/config/sonarr
/config/unpackerr
/config/youtubedl
/config/organizr
/config/guacamole
/config/reiverr
/config/traefik/dynamic-config.yml
/cloudflare_certs/*.key
/cloudflare_certs/*.crt
/cloudflare_certs/*.pem
/config/authelia/mongodb
/config/authelia/db.sqlite3
/config/authelia/notification.txt
/config/authelia/authelia.log
/config/authelia/configuration.yml
/config/authelia/users_database.yml
/config/authelia/keys
/config/authelia/authelia.log
/config/authelia/configuration.yml
/config/authelia/db.sqlite3
/config/authelia/notification.txt
/config/traefik/traefik.yml
/config/homepage/services.yaml
/config/homepage/settings.yaml
/config/homepage/logs
/config/vaultwarden
/config/vscodium
/config/wud
/logs
/config.json
/.env
/.env_backup
*.pyc
/.secrets
/compose-up.sh
/compose-down.sh
/down-guac.sh
/up-guac.sh
/down-net.sh
/up-net.sh
/WIP/*
/create_env_editor_page.py
/config/db
/config/rdesktop
/config/filebrowser/db
/config/openldap
/config/clouadarr-config.yml