#CLOUDARR PRIMARY CONFIG
#>Cloudarr is primarily configured by this .env file
#>Configuration of the homepage dashboard can be done in the config.py/json file or if you set CLOUDARR_MANAGE_HOMEPAGE_SERVICES and CLOUDARR_MANAGE_HOMEPAGE_SETTINGS to false you can make changes to $CONFIGDIR/homepage/services.yaml amd settings.yaml yourself
#>Cloudarr comes with a built-in editor at ./env_editor.html that can be used to edit this file with a friendly interface

##Basic configuration
#This is your base domain
DOMAINNAME="example.com"
#Your timezone, find yours here https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
TZ="America/Los_Angeles"
#Homepage container prefix, unless changed in Authelia envrionment variables this will be your landing page
HOMEPAGE_PREFIX="homepage"
#By default Cloudarr binds Gethomepage to ${DOMAINNAME} and ${HOMEPAGE_PREFIX}.${DOMAINNAME}
#To avoid binding to the base domain just use: "Host(`${HOMEPAGE_PREFIX}.${DOMAINNAME}`)"
HOMEPAGE_RULE="Host(`${DOMAINNAME}`) || Host(`${HOMEPAGE_PREFIX}.${DOMAINNAME}`)"
# Homepage web browser title
HOMEPAGE_TITLE="Cloudarr Home"
# Homepage header style
HOMEPAGE_HEADER_STYLE="clean"

#Cloudarr configuration directory, your docker container configs / appdata will be here.
CONFIGDIR="./config"
#Cloudarr logging dir, eventually this will be replaced with a container for log aggregation
LOGSDIR="./logs"

CLOUDARR_THEME="dark" # dark/light Applies to a number of containers
##Cloudarr Automatic Configuration Settings
#>Cloudarr automatically generates configuration settings for a number of containers, you can disable this but you will have to manually manage the files if you do so.
#[true/false] Cloudarr's ./apply_config.py automatically generates Traefik's static configuration from $CONFIGDIR/traefik/traefik-template.yml to $CONFIGDIR/traefik/traefik.yml, if you disable this you will need to generate it yourself
CLOUDARR_MANAGE_TRAEFIK_STATIC="true"
#[true/false] Cloudarr's ./apply_config.py automatically generates Traefik's dynamic configuration from environment variables to $CONFIGDIR/traefik/dynamic-config.yml, if you disable this you will need to generate it yourself
CLOUDARR_MANAGE_TRAEFIK_DYNAMIC="true"
#[true/false] Cloudarr's ./apply_config.py automatically generates Authelia's configuration from $CONFIGDIR/authelia/configuration-template.yml to $CONFIGDIR/authelia/configuration.yml, if you disable this you sill need to generate it yourself
CLOUDARR_MANAGE_AUTHELIA="true"
#[true/false] Cloudarr's ./apply_config.py automatically generates GetHomepage's services configuration from ./config.json to $CONFIGDIR/homepage/services.yaml, if you disable this you sill need to generate it yourself
CLOUDARR_MANAGE_HOMEPAGE_SERVICES="true"
#[true/false] Cloudarr's ./apply_config.py automatically generates GetHomepage's settings configuration from ./config.json to $CONFIGDIR/homepage/settings.yaml, if you disable this you sill need to generate it yourself
CLOUDARR_MANAGE_HOMEPAGE_SETTINGS="true"
CLOUDARR_MANAGE_GUACAMOLE_INITDB="true"
#EXPRESSVPN
#>ExpressVPN is only needed if you want to use the requesters stack
#ExpressVPN activation code, this only counts as one device towards your limit
EXPRESSVPN_ACTIVATION_CODE=""

#CLOUDFLARE
#>Cloudflare DDNS keeps requests pointed at your IP even if it changes.
#Cloudflare DDNS Config / Cert Config
CF_API_EMAIL=""
#See here about getting your token https://community.cloudflare.com/t/how-to-create-an-api-token-to-support-ddns-updates/117427
CF_API_KEY=""
CF_CERTS_DIR="./cloudflare_certs"
CF_CA_SERVER="https://acme-staging-v02.api.letsencrypt.org/directory"

#VAULTWARDEN
#>Vaultwarden is a self-hosted password manager
#VaultWarden prefix, it's common to change this to "bitwarden"
VW_PREFIX="vaultwarden"
#Set this to false after creating an admin account
VW_SIGNUPS_ALLOWED="true"
VW_WEBSOCKET_ENABLED="true"
# This needs to be an argon2 password 
# You can escape the $ symbols in the password using two eg $$
# You can generate this token using the prompt "docker run -it authelia/authelia:latest authelia crypto hash generate argon2"
# Ensure this token is complicated to prevent unauthorized access to everyone's passwords
VW_ADMIN_TOKEN=''

#FOLDERS
##Media Library Folders
#>The folders will be created as named docker volumes.
#>If you change these paths after the initial launch you will need to delete the named volumes by downing the stack, running `sudo docker volume ls` to look up the named volume and then `sudo docker volume rm CONTAINERNAME`to delete it. Re-up the stack to re-create the named volume.
AUDIOBOOKSDIR="/mnt/BIGNAS/Audiobooks"
BOOKSDIR="/mnt/BIGNAS/Books"
DOCUMENTSDIR="/mnt/BIGNAS/Documents"
MOVIESDIR="/mnt/BIGNAS/Movies"
YTDLVIDEOSDOWNLOADSDIR="/mnt/BIGNAS/Movies/other"
MUSICDIR="/mnt/BIGNAS/Music"
YTDLMUSICDOWNLOADSDIR="/mnt/BIGNAS/Music/other"
PHOTOSDIR="/mnt/BIGNAS/Photos"
PODCASTSDIR="/mnt/BIGNAS/Podcasts"
SHOWSDIR="/mnt/BIGNAS/TV Shows"

##Qbittorrent Download / Unpackarr Folder
#You will need to create this dir if it doesn't exist
DOWNLOADSDIR="/qbit/seeding"

#AUTHELIA
AUTHELIA_PREFIX="authelia"
#At least 20 random alphanumeric chars
AUTHELIA_SESSION_SECRET=""
#At least 20 random alphanumeric chars
AUTHELIA_JWT_SECRET=""
#At least 20 random alphanumeric chars
AUTHELIA_STORAGE_ENCRYPTION_KEY=""
#At least 20 random alphanumeric chars
AUTHELIA_STORAGE_POSTGRES_PASSWORD=""
#Max length a session can last
AUTHELIA_SESSION_COOKIE_EXPIRATION="24 hour"
#Max length without session activity before login is required again
AUTHELIA_SESSION_COOKIE_INACTIVITY="1 hour"
#You can change the default Authelia landing point here
AUTHELIA_DEFAULT_REDIRECT_URL_PREFIX="homepage"
#Max password retries
AUTHELIA_MAX_RETRIES="10"
#Time to find failed logins
AUTHELIA_FIND_TIME="2 minutes"
#Ban time after failed logins
AUTHELIA_BAN_TIME="3 minutes"

#OPENLDAP
#>These variables are use to set up openldap, ldap-user-manager, authelia, and guacamole
#>Openldap passwords set in Api Keys / Passwords section below
LDAP_ORGANISATION="example.com"
LDAP_BASE_DN="dc=example,dc=com"
LDAP_TLS_VERIFY_CLIENT="try"
LDAP_READONLY_USER="true"
LDAP_READONLY_USER_USERNAME="readonly"
LDAP_READONLY_USER_PASSWORD="readonly"
LDAP_RFC2307BIS_SCHEMA="true"
LDAP_BACKEND="mdb"
LDAP_REPLICATION="false"
LDAP_REMOVE_CONFIG_AFTER_SETUP="true"

#FLARESOLVERR
#>Flaresolverr is only needed if you are using the requesters stack
FLARESOLVERR_LOG_LEVEL="info"
FLARESOLVERR_LOG_HTML="false"
FLARESOLVERR_CAPTCHA_SOLVER="none"

#API KEYS AND PASSWORDS
#>Many of these API keys, passwords, etc will need to be set after the first compse-up. They are used for a number of integrations, especially gethomepage. These values are used to populate the API keys for gethomepage widgets specified in config.json

# Must be set
LDAP_ADMIN_PASSWORD=""
# Must be set
LDAP_CONFIG_PASSWORD="" 

#Gethomepage Portainer Integration
PORTAINER_API_KEY=""
#These API keys are used by gethomepage widgets, unpackarr, etc
BAZARR_API_KEY=""
JELLYSEERR_API_KEY=""
LIDARR_API_KEY=""
RADARR_API_KEY=""
READARR_API_KEY=""
SONARR_API_KEY=""
AUDIOBOOKSHELF_API_KEY=""
JELLYFIN_API_KEY=""

#AdGuard Username/Password must be set in AdGuard WebUI first
ADGUARD_USERNAME="admin"
ADGUARD_PASSWORD=""

#Kavita Username/Password must be set in Kavita WebUI first
KAVITA_USERNAME="admin"
KAVITA_PASSWORD=""
#Navidrome must be set up via WebUI first
#See more info here: https://gethomepage.dev/main/widgets/services/navidrome/
#You can use the interactive make_md5_password.py script included with Cloudarr to generate the token
NAVIDROME_USERNAME="admin"
NAVIDROME_TOKEN=""
NAVIDROME_SALT=""
#Gethomepage Qbittorrent config
#See more info here:  https://gethomepage.dev/main/widgets/services/qbittorrent/
QBITTORRENT_USERNAME="admin"
QBITTORRENT_PASSWORD=""
#Guacamole Config
GUACAMOLE_POSTGRESS_PASSWORD=""
GUACAMOLE_POSTGRESS_USER="guac_user"

#SERVICE PORTS
#>Cloudarr modifies some service ports from container defaults in order to prevent overlap conflicts
#These are the entrypoints into Cloudarr, you will want to forward these ports on your router.
#You probably shouldn't change these if you don't know what you're doing
TRAEFIK_PORT_HTTP="80"
TRAEFIK_PORT_HTTPS="443"
#AdGuard is odd, it uses one port for setup and another after it is deployed
ADGUARD_SETUP_PORT="3100"
ADGUARD_DEPLOYED_PORT="3101"
#To prevent deployment issues, AdGuard's DNS is bound to port 9053
ADGUARD_DNS_PORT="9053"
#If you change this you will need to change it in docker-compose-network.yml and $CONFIGDIR/authelia/configuration-template.yml
AUTHELIA_PORT="9091"
HOMEASSISTANT_PORT="8123"
HOMEPAGE_PORT="3000"
WUD_PORT="3003"
GUACAMOLE_PORT="3004"
QBT_PORT="3005"
ITTOOLS_PORT="3006"
AUDIOBOOKSHELF_PORT="3011"
YOUTUBEDL_PORT="3012"
FILEBROWSER_PORT="3013"
PICARD_PORT="3014"
FLARESOLVERR_PORT="8191"
JELLYFIN_PORT="8096"
JELLYFIN_PORT_2="8920"
KAVITA_PORT="5000"
NAVIDROME_PORT="4533"
BITTORRENT_PORT="6881"
PORTAINER_PORT="9000"
FILEBOT_PORT="5800"
JELLYSEER_PORT="5055"
UNPACKERR_PORT="5656"
NZBHYDRA_PORT="5076"
BAZARR_PORT="6767"
RADARR_PORT="7878"
LIDARR_PORT="8686"
READARR_PORT="8787"
SONARR_PORT="8989"
JACKETT_PORT="9117"
VAULTWARDEN_SMTP_PORT="587"
OPENLDAP_PORT="389"
OPENLDAP_LDAPS_PORT="636"
LDAP_USER_MANAGER_PORT="8785"
RDESKTOPPORT="4389"
#Dangerous!
#Traefik handles securely proxying Vaultwardern internally.
#Enabling this allows local network access, do so at your own risk.
#Uncomment the line ${VAULTWARDEN_PORT}:80 in the Vaultwarden section of docker-compose-services.yml for this varaiable to take effect.
#This variable does nothing if you do not enable it in docker-compose-services.yml
VAULTWARDEN_PORT="9445"